[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-login = "*"
flask-migrate = "*"
wtforms = "*"
python-dotenv = "*"
python-dateutil = "*"
python-editor = "*"
gunicorn = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.9"
